<html>
	<head>
		<title>Quora Clone</title>
	</head>
	<body>
		<h1>Quora Clone</h1>
		<form action='/questions/<%=@question.id%>' method='post'>
			<input type='text' name='user_name'>
			<input type='text' name='question_body'>
			<input type='submit' name='sub'>
		</form>
	</body>
</html>